@CHARSET "ISO-8859-1";

#content{
	margin-left:  380px;
	margin-top: 30px;
	padding: 20px;
	
}
td{
	padding:5px;
}

#click{
	text-align:left;
	padding: 5px;
}

#submit{
	background: #2b79fd;
	border-radius: 5px;
	font-size: 15px;
	padding:7px;
	color: white;
	border: #3581fd;
}
#submit:hover{
	background: #0247b9;
}

#submit2{
margin-left: 110px;
}
#table2{
	margin-top: 20px;
	margin-left: 500px;

}

#enter{
margin-left: 450px;
margin-top: 30px;
}

#check2{	
	padding: 5px;
	margin-bottom: 30px;
	margin-left: 630px;
}

