@CHARSET "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

header, section, footer {
	display: block
}

h2 {
	font: bold 30px Sans-serif;
}

body{
	
	display:-webkit-box; 
	-webkit-box-pack: center;
}

#big_wrapper{
	/*max-width: 1300px;
	margin: 0px 0px; */
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:1;
	
	
}


#main_section{
	text-align: center;
	height: 450px;
	padding: 50px;
	margin-left: 5px;
	margin-bottom:50px;
}
#thanks{
	color:orange;
	font: bold 24px Sans-serif;
}

#transID{
	font: 20px Sans-serif;
}

#beauty{
	padding: 30 px;
	
}

#home{
	font: 22px Sans-serif;
	margin-bottom: 40px;
}



