@CHARSET "ISO-8859-1";


#top_header{
	background: grey;
	color: white;
	padding: 5px;
	font: bold 15px sans-serif;
	
}

#text{
	text-align: left;
	margin-top: 10px;
	margin-left: 145px;
}



#ip {
   border: 2px solid grey;
   padding: 20px;
}

#img{
	padding: 100;
	margin-top: 30px;
	margin-bottom: 190px;
}
td{
	padding: 20px;
}

#table{
	
	text-align: left;
}

#main_footer{
	margin-top:40px;
}





