.result-panel{
	float:right;
	width:100%;
	
}
.side-bar {
	width: 24%;
	float: left;
	margin-top: 20px;
	border-right: 1px solid rgba(224,224,224,1.00);
}
.main-bar {
	width: 74%;
	margin-top: 20px;
	float: left;
}
